* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Debug";
  src: url(debugfreetrial-mvdyb-webfont.woff) format(woff);
  src: url(debugfreetrial-mvdyb-webfont.woff2) format(woff2);
}
body {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: "header header" "main main" "footer footer";
  margin: auto;
  overflow: auto;
  background-color: #D9AFD9;
  background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  animation: gradient 12s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
body .wave {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}
body .wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}
body .wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}
@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
body .debug-font {
  font-family: "Debug";
  background-size: 100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
header #title-site {
  font-size: 5rem;
  grid-column: 2;
  background-color: #00DBDE;
  background-image: linear-gradient(64deg, #00DBDE 0%, #FC00FF 100%);
}
header input {
  background-color: rgba(110, 110, 110, 0);
  background-image: linear-gradient(64deg, #00DBDE 0%, #FC00FF 100%);
  font-size: 2.5rem;
  border: none;
  text-align: center;
}
header input:hover {
  cursor: pointer;
}
header input:focus {
  outline: none;
}
header #player-input-left {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}
header #player-input-right {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
}

.fadein {
  animation: fadein 4s linear forwards;
  opacity: 0;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
main #gamepart {
  grid-column: 2;
  justify-self: center;
  display: grid;
  width: 25vw;
  height: 25vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
main #gamepart .cell {
  background-color: rgba(110, 110, 110, 0);
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Debug";
  font-size: xx-large;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(64deg, #00DBDE 0%, #FC00FF 100%);
  -webkit-text-fill-color: transparent;
}
main #gamepart .cell:nth-child(1) {
  border-top: none;
  border-left: none;
}
main #gamepart .cell:nth-child(2) {
  border-top: none;
}
main #gamepart .cell:nth-child(3) {
  border-top: none;
  border-right: none;
}
main #gamepart .cell:nth-child(4) {
  border-left: none;
}
main #gamepart .cell:nth-child(6) {
  border-right: none;
}
main #gamepart .cell:nth-child(7) {
  border-left: none;
  border-bottom: none;
}
main #gamepart .cell:nth-child(8) {
  border-bottom: none;
}
main #gamepart .cell:nth-child(9) {
  border-bottom: none;
  border-right: none;
}
main .centered {
  align-self: center !important;
  justify-content: center;
}
main #left-part, main #right-part {
  display: flex;
  align-self: baseline;
  justify-content: center;
}
main #left-part .points, main #right-part .points {
  font-family: "Debug";
  font-size: 100px;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(64deg, #00DBDE 0%, #FC00FF 100%);
  -webkit-text-fill-color: transparent;
}
main #left-part .fade-out, main #right-part .fade-out {
  animation: fade-out 4s linear forwards;
  opacity: 1;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main #left-part button, main #right-part button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 25px;
  font-family: "Debug";
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  max-width: 150px;
  max-height: 32px;
  line-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}
main #left-part button:hover, main #right-part button:hover {
  animation: ani 8s linear infinite;
  border: none;
}
@keyframes ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
main #left-part button:before, main #right-part button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}
main #left-part button:hover::before, main #right-part button:hover::before {
  filter: blur(20px);
}
main #left-part button:active, main #right-part button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}
footer #footer-text {
  background-image: linear-gradient(64deg, #00DBDE 0%, #FC00FF 100%);
  display: flex;
  justify-self: center;
}/*# sourceMappingURL=style.css.map */