* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Debug";
  src: url(debugfreetrial-mvdyb-webfont.woff) format(woff);
  src: url(debugfreetrial-mvdyb-webfont.woff2) format(woff2);
}
body {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: "header header" "main main" "footer footer";
  margin: auto;
  overflow: auto;
  background: linear-gradient(32deg, rgb(178, 0, 255) 0%, rgb(37, 131, 207) 44%, rgb(3, 187, 26) 62%, rgb(235, 243, 33) 79%, rgb(207, 9, 9) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
body .wave {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}
body .wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}
body .wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}
@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
body .debug-font {
  font-family: "Debug";
  background-size: 100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
header #title-site {
  font-size: 5rem;
  grid-column: 2;
  background-image: linear-gradient(to right, #682aa1, #6a4ab7, #6d66ca, #7480db, #7f99e9, #88a4ea, #92afeb, #9eb9eb, #a4b9e0, #aab9d5, #afb8cb, #b4b8c0);
}
header input {
  background-color: rgba(110, 110, 110, 0.048);
  background-image: linear-gradient(45deg, hsl(240, 100%, 20%) 0%, hsl(322, 100%, 31%) 19%, hsl(355, 89%, 58%) 27%, hsl(39, 100%, 50%) 34%, hsl(58, 100%, 47%) 41%, hsl(69, 86%, 49%) 47%, hsl(84, 78%, 53%) 53%, hsl(106, 72%, 57%) 59%, hsl(158, 100%, 43%) 66%, hsl(185, 100%, 43%) 73%, hsl(198, 100%, 50%) 81%, hsl(206, 100%, 50%) 100%);
}
header #player-left {
  font-family: "Debug";
  font-size: 1rem;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}
header #player-right {
  font-family: "Debug";
  font-size: 3rem;
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
main #gamepart {
  grid-column: 2;
  justify-self: center;
  display: grid;
  width: 25vw;
  height: 25vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
main #gamepart .cell {
  background-color: rgba(110, 110, 110, 0.048);
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #gamepart .cell:nth-child(1) {
  border-top: none;
  border-left: none;
}
main #gamepart .cell:nth-child(2) {
  border-top: none;
}
main #gamepart .cell:nth-child(3) {
  border-top: none;
  border-right: none;
}
main #gamepart .cell:nth-child(4) {
  border-left: none;
}
main #gamepart .cell:nth-child(6) {
  border-right: none;
}
main #gamepart .cell:nth-child(7) {
  border-left: none;
  border-bottom: none;
}
main #gamepart .cell:nth-child(8) {
  border-bottom: none;
}
main #gamepart .cell:nth-child(9) {
  border-bottom: none;
  border-right: none;
}
main #player-left {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(110, 110, 110, 0.048);
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}
footer #footer-text {
  background-image: linear-gradient(to right, #682aa1, #6a4ab7, #6d66ca, #7480db, #7f99e9, #7e9be1, #7f9dd8, #829ecf, #748ab1, #667794, #596477, #4c525c);
  display: flex;
  justify-self: center;
}/*# sourceMappingURL=style.css.map */